<h1>
  <%= @tag.name %>
  <sup class="badge-pill badge-info">
    <%= @tag.articles.count %>
  </sup>
</h1>

<% if @tag.articles.empty? %>
  <h2>Статей нет</h2>
<% else %>
  <%= render @tag.articles %>
<% end %>