<h1><%=@campaign.title %></h1>

<%= link_to 'edit', edit_campaign_path(@campaign) %>
<%= link_to 'delete', campaign_path(@campaign), method: :delete, data: {confirm: 'Sure?' } %>
<p><%=@campaign.body %></p>